<h1>People#edit</h1>
<p>Find me in app/views/people/edit.html.erb</p>

<%= form_for Person.find(params[:id]) do |p| %>

  <%= p.label 'Nome: ' %>
  <%= p.text_field :name, placeholder: 'Teu cu', maxlength: '10', autofocus: 'true' %>

  <br>

  <%= p.label 'Idade: ' %>
  <%= p.number_field :age %>

  <br>

  <%= p.submit 'Atualizar' %>

<% end %>